@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --font-family: 'Red Hat Display', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Pale-blue);
    font-family: var(--font-family);text-align: center;
    font-size: 16px;
}

.mobile_bg{
    display: none;
}

.desktop_bg{
    width: 100%;
}

.avatar{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.main_content{
    width: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 30px var(--Desaturated-blue);
}

.intro{
    width: 80%;
    margin: 0 auto;
}

p{
    color: var(--Desaturated-blue);
}

h1, h3{
    color:var(--Dark-blue);
}

.main_head{
    font-weight: 900;
    font-size: 28px;
    margin: 30px 0 15px;
}

.main_paragraph{
    line-height: 1.5rem;
}

.plan_durations{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Very-pale-blue);
    padding: 20px;
    border-radius: 20px;
}

.svg_left_flex{
    display: flex;
    gap: 20px;
    align-items: center;
}

.annual_plan h3{
    font-size: 16px;
    font-weight: 900;
}

.text_right_flex{
    text-decoration: underline var(--Bright-blue);
    color: var(--Bright-blue);
    font-weight: 700;
    transition: ease-in .3s;
}

.text_right_flex:hover{
    cursor: pointer;
    text-decoration: none;
    color: var(--Desaturated-blue);
}
.payment_link{
    background-color: var(--Bright-blue);
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px var(--Desaturated-blue);
    transition: ease-in .3s;
}

.payment_link a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.payment_link:hover{
    background-color: var(--Desaturated-blue);
    cursor: pointer;
}

.cancel_order{
    color: var(--Desaturated-blue);
    font-weight: 700;
    margin: 20px 0 30px;
    transition: ease-in .3s;
}

.cancel_order:hover{
    color: var(--Dark-blue);
    cursor: pointer;
    font-weight: 900;
}

.attribution { 
    color: var(--Dark-blue);
    font-weight: 700;
    font-size: 12px; 
    text-align: center; 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    -ms-transform: translate(-50%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width:450px) {
    .mobile_bg{
        display: block;
        width: 100%;
    }
    
    .desktop_bg{
        display: none;
    }
    
    .main_content{
        width: 55vh;
    }
    
    .main_head{
        margin: 25px 0 10px;
    }

    .plan_durations{
        width: 90%;
    }
    
    .payment_link{
        width: 90%;
    }
        
    .cancel_order{
        margin: 15px 0 20px;
    }
    
}

